<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Nákupný košík</title>
  <meta name="description" content="Nákupný košík">

{% include "include_head.html" %}

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <!-- OBSAH STRANKY -->

  {% include "menu.html" %}

  
  <div class="container">
        <div class="nav-wrapper">
          <div class="row">
            <div class="center-align blue-text text-darken-2">
              <header class="header">
                <h3>Nákupný košík</h3>
              </header>
            </div>
          </div>
        </div>
    </div>
  <main>
        <div id="obsah" class="row">
            <br><br><br>
            <div id="kosik-table" class="col s12">
                {% if kosik|length < 1 %}

                     <div class="container">
                            <div class="nav-wrapper">
                              <div class="row">
                                <div id="prihlas-header" class="center-align blue-text text-darken-2">
                                  <header id="nadpis" class="header">
                                    <h2 id="empty-cart">Váš nákupný košík je prázdny.</h2>
                                  </header>
                                </div>
                              </div>
                            </div>
                        </div>
                     {% include "galeria.html" %}

                {% else %}

                    <table class="responsive-table hoverable col s8 offset-s2 z-depth-2 input-field" >
                        <thead>
                            <tr>
                               <th colspan="2" class="input-field" style="padding-left: 1em">Položka</th>
                               <th>Cena</th>
                               <th colspan="2">Počet</th>
                               <th class="center-align">Celkom</th>
                            </tr>
                        </thead>
                        <tbody id="zoznam-kosik">
                            <!-- sem vlozime zaznamy -->
                            {% for r in kosik %}
                                <tr>
                                  <td style="padding-left: 1em"><img src="../static/img/velke/{{r.obrazok}}" width="50" height="50"  /></td>
                                  <td><a href="/produkt/{{r.pro_id}}">{{r.nazov}}</a></td>
                                  <td>{{'%0.2f' % r.jedn_cena|float}}&nbsp;€ </td>
                                  <td class="center-align">{{r.pocet}}</td>
                                  <td class="center-align">
                                    <a class="btn-floating red" onclick="onPlusMinusClick( {{r.pol_id}}, -1 )"><i class="material-icons">remove</i></a>
                                    <a class="btn-floating green" onclick="onPlusMinusClick( {{r.pol_id}}, +1 )"><i class="material-icons">add</i></a>
                                  </td>
                                  <td class="center-align">{{'%0.2f' % r.suma_riadku|float}}&nbsp;€ </td>
                                </tr>
                            {% endfor %}
                            <tr>
                               <td colspan="6">
                                   <div class="row">
                                       <div class="col s12">
                                            <span style="font-size: 2em;">Celková cena: {{'%0.2f' % celkova_cena|float}}&nbsp;€</span>
                                       </div>
                                       <div class="col s5 pull-s0 push-s2 right">
                                            <button id="zobraz-form" onclick="zobrazFormular()" class="btn green waves-effect waves-light" >Objednať</button>
                                       </div>
                                   </div>
                               </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- skryty formular -->
                    <div id="objednavka-formular-div" class="valign-wrapper row login-box col s12" style="visibility: hidden; position: absolute">
                        <form id="objednavka-formular" class="col card hoverable s10 pull-s1 m6 pull-m3 l6 pull-l3" method="post">
                            <div class="card-content">
                                <h1 class="card-title input-field">Kontaktné údaje</h1>
                                <div class="row">

                                            <div class="input-field col s12">
                                                <label for="meno">Meno a priezvisko</label>
                                                <input id="meno" type="text" placeholder="Meno a priezvisko..." value="{{kwargs['cele_meno']}}" readonly>
                                            </div>

                                            <div class="input-field col s12">
                                                <label for="ulica">Ulica a číslo</label>
                                                <input id="ulica" type="text" placeholder="Ulica a číslo" value="{{kwargs['ulica_cislo']}}" readonly>
                                            </div>

                                            <div class="input-field col s12">
                                                <label for="psc">PSČ</label>
                                                <input id="psc" type="text" placeholder="PSČ" value="{{kwargs['psc']}}" readonly>
                                            </div>

                                            <div class="input-field col s12">
                                                <label for="obec">Obec</label>
                                                <input id="obec" type="text" placeholder="Obec" value="{{kwargs['obec']}}" readonly>
                                            </div>

                                            <div class="input-field col s12">
                                                <label for="email">Kontaktný e-mail</label>
                                                <input id="email" type="email" placeholder="E-mail" value="{{kwargs['email']}}" readonly>
                                            </div>
                                            <div class="col s12 m6">
                                                <label for="platba">Spôsob platby</label>
                                                <select id="platba" class="browser-default">
                                                    <option value="0" disabled="" selected="">Neurčený...</option>
                                                    <option value="1">Dobierka</option>
                                                    <option value="2">Prevodom na účet</option>
                                                    <option value="3">Zrýchlená platba</option>
                                                </select>
                                            </div>
                                            <div class="col s12 m6">    
                                                <label for="doprava">Spôsob dopravy</label>
                                                <select id="doprava" class="browser-default">
                                                    <option value="0" disabled="" selected="">Neurčený...</option>
                                                    <option value="1">Osobný odber (0,00 €)</option>
                                                    <option value="2">Slovenská pošta (3,00 €)</option>
                                                    <option value="3">Kuriér (5,00 €)</option>
                                                </select>
                                            </div>
                                            <div id="kosik-potvrdenie" class="input-field col s12">
                                                <p>
                                                        <label for="cb">
                                                          <input id="cb" type="checkbox" />
                                                          <span>Súhlasím s obchodnými podmienkami elektronického obchodu</span>
                                                        </label>
                                                      </p>

                                                <div class="card-action right-align">
                                                        <button id="kosik-confirm"  class="btn green waves-effect waves-light" type="button" onclick="odosliObjednavku()">Záväzne objednať</button>
                                                    </div>
                                            </div>
                                        </div>
                            </div>
                        </form>
                    </div>
                    {% include "galeria.html" %}
                {% endif %}
            </div>
        </div>
    </main>

    {% include "footer.html" %}

  <!-- JS SKRIPTY -->
  <script src="../static/js/underscore.js"    type="text/javascript"></script>
  <script src="../static/js/jquery.min.js"    type="text/javascript"></script>
  <script src="../static/js/backbone.js"      type="text/javascript"></script>
  <script src="../static/js/global_model.js"  type="text/javascript"></script>
  <script src="../static/js/obrazky_model.js" type="text/javascript"></script>
  
  <script type="text/javascript">

      var kontrola = function (obj) {
        return !(_.isNaN(obj) || _.isNull(obj) || _.isUndefined(obj) || _.isEmpty(obj));
      };

      var odosliObjednavku = function () {
          var currentdate = new Date();
          var timeStr = "" + currentdate.getDate()
                  + (currentdate.getMonth()+1)
                  + currentdate.getFullYear()
                  + currentdate.getHours()
                  + currentdate.getMinutes()
                  + currentdate.getSeconds();

          var povinnePolozky = [
              "#meno|Položka \"Meno a priezvisko\" je povinná!",
              "#ulica|Položka \"Ulica a číslo\" je povinná!",
              "#psc|Položka \"PSČ\" je povinná!",
              "#obec|Položka \"Obec\" je povinná!",
              "#email|Položka \"Kontaktný e-mail\" je povinná!",
              "#platba|Vyberte \"Spôsob platby\" !",
              "#doprava|Vyberte \"Spôsob dopravy\" !"
          ];

          var chyby = [];
          var pattern = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
          povinnePolozky.forEach(function(entry) {
              var obj = entry.split("|")[0];
              var value = $(obj).val();
              if (_.isNaN(value)
                      || _.isNull(value)
                      || _.isUndefined(value)
                      || _.isEmpty(value)
                      || value == "0") {
                  chyby.push(entry);
                  $(obj).css("background-color","#ffdddd");
              } else if (obj == "#email" && !pattern.test(value)) {
                  chyby.push("#email|V položke 'Kontaktný e-mail' ste zadali nesprávnu e-mailovú adresu!");
                  $(obj).css("background-color","#ffdddd");
              } else {
                  $(obj).css("background-color","#eeffee");
              }
          });

          if (!_.isEmpty(chyby)) {
              // nastavime focus na prvu chybnu polozku
              var obj = chyby[0].split("|")[0];
              $(obj).focus();

              // zobrazujeme zistene chyby
              var textChyby = "-----------------------------\n" +
                              " Zoznam chýb: \n" +
                              "-----------------------------\n";
              chyby.forEach(function (entry) {
                  textChyby = textChyby + "\n   * " + entry.split("|")[1] + "\n";
              });
              alert(textChyby);
              return;
          }

          $.ajax({
              type: "PUT",
              url: "/kosik",
              data: JSON.stringify({
                  'meno':  $('#meno').val(),
                  'ulica': $('#ulica').val(),
                  'psc': $('#psc').val(),
                  'obec': $('#obec').val(),
                  'email': $('#email').val(),
                  'platba': $('#platba').val(),
                  'doprava': $('#doprava').val()
              }, null, '\t'),
              dataType: "json",
              contentType: "application/json;charset=UTF-8",
              timeout: 993500,
              success: function () {
                  document.cookie = 'session_id=; Max-Age=-99999999;';
                  location.reload();
              },
              error: function (jqXHR, textStatus, errorThrown) {
                  console.log(">>> odosliObjednavku Chyba!");
              }
          });
      };

      var zobrazFormular = function () {
          var element = $('#objednavka-formular-div');
          if (element.css('visibility') == 'hidden') {
              element.css('visibility', 'visible');
              element.css('position', 'relative');
              $('#zobraz-form').css('visibility', 'hidden');
          }
      };

      var onPlusMinusClick = function(_pol_id, _zmena) {
          console.log (">> _zmena:"  + _zmena);
          console.log (">> _pol_id:" + _pol_id);
          $.ajax({
            type: "PUT",
            url:  "/plusminus",
            data: JSON.stringify({
                'pol_id' : _pol_id,
                'zmena'  : _zmena
            }, null, '\t'),
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            timeout: 993500,
            success: function() {
                location.reload();
            } ,
            error: function (jqXHR, textStatus, errorThrown) { console.log(">>> plusminus Chyba!"); }
        });
      };
  </script>
</body>
</html>